/* Wator Styling */
.config-grid-pane {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-min-width: 1200px;
}

.config-slider {
    -fx-min-width: 700px;
}

.control-button {
    -fx-min-width: 150px;
}

.control-slider {
    -fx-min-width: 500px;
}

.control-hbox {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-min-width: 1200px;
    -fx-alignment: center-left;
}

.simulation-scroll-pane {
}

.observation-grid {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-min-width: 300px;
}

.observation-vbox {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-min-width: 300px;
}